<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "
        http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faceooo.nian.dao.IDemoDAO">


       <select id="getDemo" parameterType="string" resultType="UserinfoDTO">
              SELECT *
              FROM userinfo  WHERE username = #{username}
       </select>

       <!--<select id="findAll" resultMap="UserMap" fetchSize="1">-->
       <!--SELECT * FROM t_user-->
       <!--</select>-->

       <!--<select id="count" resultType="int">-->
       <!--SELECT COUNT(*) FROM t_user;-->
       <!--</select>-->
</mapper>