<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faceooo.nian.dao.SouDAO">
	<!--#########################-->
	<!--### SELECT ZONE       ###-->
	<!--#########################-->
	<select id="querySouImagesCode" resultType="ImageDTO"
			parameterType="String">
		select * from image where souvenirid=#value#
	</select>

	<select id="queryUserSouListForHome" resultType="SouvenirDTO"
			parameterType="UserinfoDTO">
		select sou.* from souvenir sou , souvenirtype sout
		where sout.typesort='1' and sou.souvenirtypeid=sout.id and
		userid=#userid# limit 10
	</select>

	<select id="querySouListForSearch" resultType="SouvenirDTO"
			parameterType="java.util.HashMap">
		select sou.* from souvenir sou, own oo where
		sou.souvenirtypecode=#souvenircode#
		and oo.souvenirid = sou.id and
		oo.userid=#userid#
	</select>

	<select id="querySouListForSearchName" resultType="SouvenirDTO"
			parameterType="java.util.HashMap">
		select sou.* from souvenir sou, own oo where sou.name
		like '%'||#souvenircode#||'%'
		and oo.souvenirid = sou.id and
		oo.userid=#userid#
	</select>

	<select id="queryUserSouTypeList" resultType="SouvenirtypeDTO"
			parameterType="UserinfoDTO">
		select * from souvenirtype where userid=#id#
	</select>

	<select id="querySoureviewList" resultType="String"
			parameterType="String">
		select content from recordinfo where souvenirid=#value#
	</select>


	<select id="querySouInfoForID" resultType="SouvenirDTO"
			parameterType="String">
		select * from souvenir where id=#value#
	</select>

	<select id="getSouvenirListForType" resultType="SouvenirDTO"  parameterType="SouvenirDTO">
		select * from souvenir where userid=#userid# AND  souvenirtypeid=#souvenirtypeid# order by dynastycode LIMIT 20
	</select>

	<!--#########################-->
	<!--### DELETE ZONE       ###-->
	<!--#########################-->

	<delete id="deleteSou" parameterType="String">
		delete from souvenir where id=#value#
	</delete>

	<delete id="deleteSoutype" parameterType="String">
		delete from souvenirtype where id=#value#
	</delete>

	<delete id="deleteSouRecord" parameterType="RecordinfoDTO">
		delete from recordinfo where id=#id#
	</delete>

	<delete id="deleteImage" parameterType="String">
		delete from image where id=#value#
	</delete>

	<!--#########################-->
	<!--### UPDATE ZONE       ###-->
	<!--#########################-->

	<update id="updateSoutype" parameterType="SouvenirtypeDTO">
		update souvenirtype set
		typename=#typename# where id=#id#
	</update>

	<update id="chargeSoutype" parameterType="SouvenirDTO">
		update souvenir set
		souvenirtypeid=#souvenirtypeid# where id=#id#
	</update>

	<update id="updateSouBaseInfo" parameterType="SouvenirDTO">
		update souvenir set
		dynastycode=#dynastycode#,lengths=#lengths#, wides=#wides#, highs=#highs#, weights=#weights#, where id=#id#
	</update>

	<update id="updateSouRecord" parameterType="RecordinfoDTO">
		update recordinfo set
		content=#content#,timerecord=#timerecord#  where id=#id#
	</update>



	<!--#########################-->
	<!--### INSERT ZONE       ###-->
	<!--#########################-->

	<!-- typesort 处理方式，有待优化 -->
	<insert id="creatSouTypes" parameterType="SouvenirtypeDTO">
		insert into
		souvenirtype (id,userid,typesort,typename,typecount,timerecord)
		values
		(#id#,#userid#,#typesort#,#typename#,#typecount#,#timerecord#)\
		<selectKey resultType="String" keyProperty="typesort">
			select count(*)+1 from souvenirtype where userid=#userid#
		</selectKey>
	</insert>

	<insert id="createSouRecord" parameterType="RecordinfoDTO">
		insert into
		recordinfo (id,souvenirid,title,content,timerecord)
		values
		(#id#,#souvenirid#,#title#,#content#,#timerecord#)
	</insert>

	<insert id="createSouvenir" parameterType="SouvenirDTO">
		insert into
		souvenir (id,userid,timerecord)
		values
		(#id#,#userid#,#timerecord#)
	</insert>

	<insert id="createSouImage" parameterType="ImageDTO">
		insert into
		image (id,souvenirid,imagecode,imagesort,timerecord)
		values
		(#id#,#souvenirid#,#imagecode#,#imagesort#,#timerecord#)
	</insert>

	<insert id="createClearQiniu" parameterType="ClearQiniuDTO">
		insert into
		clearqiniu (id,imageid,timerecord)
		values
		(#id#,#imageid#,#timerecord#)
	</insert>

</mapper>
	
	