<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faceooo.nian.dao.UserDAO">

	<select id="queryUserInfoForID" resultType="UserinfoDTO"  parameterType="String">
		select * from userinfo where id=#value#
	</select>

	<select id="queryTimelineUsers" resultType="UserinfoDTO"  parameterType="String">
		select ui.* from userinfo ui, own oo where
		 oo.souvenirid=#value# and oo.userid=ui.id order by oo.timerecord
	</select>

	<select id="queryTimelineUsers" resultType="UserinfoDTO" parameterType="String">
		select ui.* from userinfo ui, own oo where
		oo.souvenirid=#value# and oo.userid=ui.id order by oo.timerecord
	</select>

	<select id="queryUserLogin" resultType="UserinfoDTO"  parameterType="UserinfoDTO">
		select * from userinfo where userphone=#userphone# AND  userpwd=#userpwd#
	</select>

	<insert id="insertUserinfo" parameterType="UserinfoDTO">
		insert into
		userinfo(id,username,userequ1,userequ2,userphone,usernick,usercard,userstatus,istrue,timerecord)
		values
		(#id#,#userphone#,#userequ1#,#userequ2#,#userphone#,#usernick#,#usercard#,#userstatus#,#istrue#,#timerecord#)
	</insert>


</mapper>
